
.icon-music:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-videocam:before { content: '\e806'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-photo:before { content: '\e808'; } /* '' */
.icon-attach:before { content: '\e809'; } /* '' */
.icon-lock:before { content: '\e80a'; } /* '' */
.icon-eye:before { content: '\e80b'; } /* '' */
.icon-tag:before { content: '\e80c'; } /* '' */
.icon-thumbs-up:before { content: '\e80d'; } /* '' */
.icon-pencil:before { content: '\e80e'; } /* '' */
.icon-comment:before { content: '\e80f'; } /* '' */
.icon-location:before { content: '\e810'; } /* '' */
.icon-cup:before { content: '\e811'; } /* '' */
.icon-trash:before { content: '\e812'; } /* '' */
.icon-doc:before { content: '\e813'; } /* '' */
.icon-key:before { content: '\e814'; } /* '' */
.icon-database:before { content: '\e815'; } /* '' */
.icon-megaphone:before { content: '\e816'; } /* '' */
.icon-graduation-cap:before { content: '\e817'; } /* '' */
.icon-fire:before { content: '\e818'; } /* '' */
.icon-paper-plane:before { content: '\e819'; } /* '' */
.icon-cloud:before { content: '\e81a'; } /* '' */
.icon-globe:before { content: '\e81b'; } /* '' */
.icon-inbox:before { content: '\e81c'; } /* '' */
.icon-cd:before { content: '\e81d'; } /* '' */
.icon-mobile:before { content: '\e81e'; } /* '' */
.icon-desktop:before { content: '\e81f'; } /* '' */
.icon-tv:before { content: '\e820'; } /* '' */
.icon-lightbulb:before { content: '\e821'; } /* '' */
.icon-clock:before { content: '\e822'; } /* '' */
.icon-sound:before { content: '\e823'; } /* '' */
.icon-calendar:before { content: '\e824'; } /* '' */
.icon-params:before { content: '\e825'; } /* '' */
.icon-cog:before { content: '\e826'; } /* '' */
.icon-note:before { content: '\e827'; } /* '' */
.icon-beaker:before { content: '\e828'; } /* '' */
.icon-truck:before { content: '\e829'; } /* '' */
.icon-food:before { content: '\e82a'; } /* '' */
.icon-money:before { content: '\e82b'; } /* '' */
.icon-shop:before { content: '\e82c'; } /* '' */
.icon-diamond:before { content: '\e82d'; } /* '' */
.icon-t-shirt:before { content: '\e82e'; } /* '' */
.icon-wallet:before { content: '\e82f'; } /* '' */
.icon-twitter:before { content: '\e830'; } /* '' */
.icon-facebook:before { content: '\e831'; } /* '' */
.icon-gplus:before { content: '\e832'; } /* '' */
.icon-pinterest:before { content: '\e833'; } /* '' */
.icon-tumblr:before { content: '\e834'; } /* '' */
.icon-linkedin:before { content: '\e835'; } /* '' */
.icon-dribbble:before { content: '\e836'; } /* '' */
.icon-flickr:before { content: '\e837'; } /* '' */
.icon-vimeo:before { content: '\e838'; } /* '' */
.icon-stumbleupon:before { content: '\e839'; } /* '' */
.icon-github:before { content: '\e83a'; } /* '' */
.icon-lastfm:before { content: '\e83b'; } /* '' */
.icon-rdio:before { content: '\e83c'; } /* '' */
.icon-spotify:before { content: '\e83d'; } /* '' */
.icon-qq:before { content: '\e83e'; } /* '' */
.icon-instagram:before { content: '\e83f'; } /* '' */
.icon-dropbox:before { content: '\e840'; } /* '' */
.icon-evernote:before { content: '\e841'; } /* '' */
.icon-skype:before { content: '\e842'; } /* '' */
.icon-paypal:before { content: '\e843'; } /* '' */
.icon-picasa:before { content: '\e844'; } /* '' */
.icon-soundcloud:before { content: '\e845'; } /* '' */
.icon-behance:before { content: '\e846'; } /* '' */
.icon-google-circles:before { content: '\e847'; } /* '' */
.icon-note-1:before { content: '\e848'; } /* '' */
.icon-left-open-mini:before { content: '\e849'; } /* '' */
.icon-right-open-mini:before { content: '\e84a'; } /* '' */
.icon-up-open-mini:before { content: '\e84b'; } /* '' */
.icon-down-open-mini:before { content: '\e84c'; } /* '' */
.icon-down-open-big:before { content: '\e84d'; } /* '' */
.icon-left-open-big:before { content: '\e84e'; } /* '' */
.icon-right-open-big:before { content: '\e84f'; } /* '' */
.icon-up-open-big:before { content: '\e850'; } /* '' */
.icon-menu:before { content: '\e851'; } /* '' */
.icon-home:before { content: '\e852'; } /* '' */
.icon-forward:before { content: '\e853'; } /* '' */
.icon-check:before { content: '\e854'; } /* '' */
.icon-flow-tree:before { content: '\e855'; } /* '' */
.icon-flow-branch:before { content: '\e856'; } /* '' */
.icon-flow-cascade:before { content: '\e857'; } /* '' */
.icon-link:before { content: '\e858'; } /* '' */
.icon-cancel:before { content: '\e859'; } /* '' */
.icon-rocket:before { content: '\e85a'; } /* '' */
.icon-flash:before { content: '\e85b'; } /* '' */
.icon-leaf:before { content: '\e85c'; } /* '' */
.icon-info:before { content: '\e85d'; } /* '' */
.icon-info-circled:before { content: '\e85e'; } /* '' */
.icon-help:before { content: '\e85f'; } /* '' */
.icon-attention:before { content: '\e860'; } /* '' */
.icon-cancel-circled:before { content: '\e861'; } /* '' */