@import 'settings';

.av-recent-post{
    
    
    figure{
        margin: 0;
        img{
            width: 100%;
        }
    }
    
    .av-post-meta{
        text-transform: uppercase;
        font-weight: 600;
        font-size: .8em;
        border-bottom: 1px solid rgb(243, 243, 243);
        
        p{
            margin: 5px 0;
        }
    }
    
    .av-post-content{
        a{
            h3{
                margin: 20px 0 0 0;
                font-size: 1.2em;
                font-weight: 500;
                display: inline-block;
            }
        }
        p{}
        
    }
    
}



/* Blog Post List */
/* 
Blog posts styles
================================ */

.post:after{
    content: '';
    display: block;
    margin: 40px 0;
    border-bottom: 1px solid #f3f3f3;
    height: 5px;
    border-top: 1px solid #f3f3f3;
}

.post .post-meta{}
.post .post-meta i{}
.post .post-meta p{
    border-bottom: 1px dashed #f3f3f3;
    margin: 0;
    padding: 5px 0;
    font-size: .8em;
}
                     
.post .post-content{
    border-left: 1px dashed #f3f3f3;
    padding-left: 20px !important;
}
.post .post-title{ 
    font-weight: 400;
    font-size: 1.8em;
    margin-top: 5px;
    margin-bottom: 0;
}
.post .content{}

/* Standard Post
====================== */
.post.standard-post{}
.post.standard-post{} .featured-image{
    margin-bottom: 10px;
    position: relative;
    max-height: 280px;
    overflow: hidden;
}
.post.standard-post{} .featured-image img{
    width: 100%;
}

/* Quote Post
====================== */
.quote-post{
}

.quote-post blockquote{ 
    background-color: $bg-darker;
    margin: 0;
}

.quote-post cite{
    text-transform: uppercase;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-size: .7em;
}

.quote-post blockquote{
    border: none;
    position: relative;
    margin-top: 0;
}

.post.quote-post .post-content{
    border-left: none;
    padding-left: 0 !important;
}


/* Audio Post
====================== */

.audio-post{}

/* Video Post
====================== */

.video-post{}
.video-post .featured-video iframe{
    max-width: 640;
}
.video-post .featured-video{
    margin-bottom: 20px;
}

/* Gallery Post
====================== */

.gallery-post{}


/* Link Post
====================== */

.post.link-post{}

.post.link-post .post-content{
    border: none;
    padding-left: 50px !important;
    position: relative;
}

.post.link-post .post-content i{
    position: absolute;
    -webkit-font-smoothing:antialiased;
    left: 0;
    font-size: 2em;
    color: #f3f3f3;
}

.post.link-post .post-content h3{
    font-weight: 400;
}

.post.link-post .post-content a{
    font-size: .9em;
    -webkit-font-smoothing: antialiased;
    font-smoothing:antialiased;
}
.post.link-post .post-content a:last-child{
    color: $text-color;
}


.post blockquote{ 
    background-color: $bg-darker;
    margin: 0;
}

.post cite{
    text-transform: uppercase;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-size: .7em;
}

.post blockquote{
    border: none;
    position: relative;
    margin-top: 0;
}

.post .post-content{
    border-left: none;
    padding-left: 0 !important;
}


/* 
Share Post
================================ */
.av-share-post{
        height: 40px;
    h3{
        margin: 0;
        font-size: 1.7em;
        font-weight: 500;
    }

    .content{
        
         i{
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            background-color: $link-color;
            margin: 0 5px;
            border-radius: 50px;

            &:hover{
                background-color: $text-color;
            }
         }
    }
    
    &:after{
        content: '' ;
        display: block ;
        border-bottom: 1px solid #f3f3f3;
        height: 5px;
        border-top: 1px solid #f3f3f3;
        width: 100%;
        position: relative;
        top: 75px;
    }
}


.author-info{

    padding-left: 120px;
    position: relative;
    margin-top: 70px;
    margin-bottom: 40px;
    
    .author-thumb{
        margin: 0;
        width: 90px;
        height: 90px;
        overflow: hidden;
        position: absolute;
        background-color: #343434;
        left: 0;
        top: 0;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        border-radius: 100px;
        
        img{
            width: 100%;
        }
    }
                     
    .author-bio{
        h5{}
        p{ margin-bottom: 10px;}
        a{font-size: .9em;}
    }
}



/* 
Comments
================================ */

.av-comments-area{
    
    .av-comments-title{
        font-weight: 300;
        font-size: 2em;
        padding-bottom: 20px;
        padding-right: 40px;
        margin-bottom: 80px;
        border-bottom: 1px solid #646c7f;
        display: inline-block;
    }
    
    .av-commentlist{
        
        padding: 0;
        margin: 0;
        
        .av-comment{
            list-style: none;
            padding-left: 80px;
            position:relative;
            
            &.av-depth-2{
                margin-left: 80px;
            }
            
            .av-comment-meta{
            
                figure{
                    
                    margin: 0;
                    position: absolute;
                    left: 0;
                    height: 60px;
                    width: 60px;
                    border: 1px solid $link-color;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    -ms-border-radius: 100px;
                    -o-border-radius: 100px;
                    border-radius: 100px;
                    overflow: hidden;
                    
                    img{
                        width: 100%;
                    }
                }
                
                .av-author{
                    text-transform: uppercase;
                    font-size: .7em;
                    font-weight: 600;
                    letter-spacing: .8pt;
                }
                .av-comment-meta-date{
                    font-size: .7em;
                    margin-left: 20px;
                    letter-spacing: .3pt;
                }
                
                &:after{
                    content: '';
                    display: block;
                    width: 30px;
                    height: 1px;
                    background-color: $link-color;
                    margin: 10px 0;
                }
                
            }
            .av-reply{
                margin-bottom: 40px;
                border-bottom: 1px solid rgba(100, 108, 127, 0.16);
                padding-bottom: 40px;
            }
            
        }
    
    }


    /* 
    Comments Form
    ================================ */ 

    .av-comment-respond{

        margin-bottom: 80px;
        
        .av-comment-reply-title{
            font-weight: 300;
            font-size: 2em;
            padding-bottom: 20px;
            padding-right: 40px;
            margin-bottom: 40px;
            border-bottom: 1px solid #646c7f;
            display: inline-block;
        }
    

        .av-comment-form{

            .av-input-control{
                
                width: 100%;
                display: inline-block;
                box-sizing: border-box;
                margin-bottom: 5%;
                
                input{
                    width: 100%;
                    border:1px solid rgba(100, 108, 127, 0.16);
                    padding: 15px;
                    font-size: .9em;

                    -webkit-transition: ease all .5s;
                    -o-transition: ease all .5s;
                    transition: ease all .5s;

                    &:focus{ 
                        border-color:$link-color; 
                        outline: none;
                    }
                }
            
                textarea{
                    width: 100%;
                    border:1px solid rgba(100, 108, 127, 0.16);
                    padding: 15px;
                    font-size: .9em;

                    -webkit-transition: ease all .5s;
                    -o-transition: ease all .5s;
                    transition: ease all .5s;

                    &:focus{ 
                        border-color:$link-color; 
                        outline: none;
                    }

                }
            }
        }
    }
}


/* 
Pagination
================================ */
.pagination{
    padding: 0 0 40px 0;
}

.pagination ul{
    margin: 0;
    padding: 0;
    text-align: right;
}

.pagination ul li{
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: .9em;
}

.pagination ul li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 5px;
    border: 2px solid transparent;
    
    -webkit-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition:.4s all ease ;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.pagination ul li a i{
    font-size: 2em;
    vertical-align: -4px;
    display: inline;
}

.pagination ul li a.active,
.pagination ul li a:hover{
    border: 2px solid #718097;
    color: #718097;
}
